* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
    width: 100vw;
    color: white;
}

#loader {
    height: 100vh;
    width: 100vw;
    background-color: #151515;
    position: fixed;
    z-index: 999;
    font-family: "Plain Light";
    padding: 10vw 12vw;
}

.line {
    display: flex;
    justify-content: flex-start;
    gap: 3vw;
    overflow: hidden;
}

#loader h2 {
    font-size: 6vw;
    line-height: 1.14;
    overflow: hidden;
    text-transform: uppercase;
}

#line-part1 {
    display: flex;
    gap: 2vw;
}

#line-part1 h5 {
    width: 5vw;
    text-align: right;
}

#line-part1 h5, h6 {
    font-size: 3vw;
    font-family: "Silk Serif";
    font-weight: 400;
}

.line > h3 {
    font-size: 5.5vw;
    font-family: "Plain Light";
   
}
.last #now{
    opacity: 0;
    animation-duration: 1s;
    animation-iteration-count: infinite;
   
}

@keyframes anim{
    0%{
        font-family: "Plain Light";
     
        -webkit-text-stroke: 1px solid white;
        font-weight: 600;
        opacity: 1;
    } 

    
    48%{
        font-family: "Plain Light";
     
        -webkit-text-stroke: 1px solid white;
        font-weight: 600; 
        opacity: 0;

    }
    /* 50%{
        font-family: "Silk Serif";
        
      
        -webkit-text-stroke: 1px solid rgb(255, 255, 255);
        font-weight: 600;
        opacity: 1;

    } */
  
    98%{
        font-family: "Silk Serif";
        color: aliceblue;
      
        -webkit-text-stroke: 1px  #fff;
        font-weight: 600;
        opacity: 1;

    }
    100%{
        font-family: "Silk Serif";
        color: aliceblue;
      
        -webkit-text-stroke: 1px  #fff;
        font-weight: 600;
        opacity: 0;
    }
}

#page1, #page2, #page3 {
    height: 100vh;
    width: 100vw;
    background-color: #813d3d;
}
#main{
    overflow: hidden;
}
